<ng-template #descTemplate>
  <span class="text-muted">
      <span class="item-list-job-title">
        <span [innerHTML]="metadataRepresentation.firstMetadataValue(['dc.description']) | kwareTranslate "></span>
      </span>
  </span>
</ng-template>
<ds-truncatable [id]="metadataRepresentation.id">
  <a [routerLink]="[itemPageRoute]"
     [innerHTML]="metadataRepresentation.getValue() | kwareTranslate"
     [ngbTooltip]="metadataRepresentation.allMetadata(['dc.description']).length > 0 ? (descTemplate | kwareTranslate) : null"></a>


     <div *ngIf="metadataRepresentation.allMetadata(['journal.title']).length > 0">
      <span style="color:#207698!important ;font-size: 15px;font-weight: 600;">
        {{(metadataRepresentation.firstMetadataValue('journal.title') | kwareTranslate) }} <span style="font-size: 15px;font-weight: 400;" *ngIf="metadataRepresentation.allMetadata(['dc.description.frequancy']).length > 0" class="text-muted">{{'('+ (metadataRepresentation?.firstMetadataValue('dc.description.frequancy') | kwareTranslate) + ')'}}</span>
      </span>

    </div>
</ds-truncatable>
